header {
    background-color: #3c3c3c;
}

table {
    background-color: white;
    border: solid 1px;
}

.col-2 {
    padding-top: 20px;
    background-color: white;
}

.col-9 {
    padding-top: 20px;
    padding-left: 40px;
    background-color: #f3f3f3;
}

.caption-top {
}


